/**
 * The geosuggest module
 * NOTE: duplicated font-sizes' are for browsers which don't support rem (only IE 8)
 */
.geosuggest {
  width: 100%;
  outline: 0;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background: transparent;
  text-align: left;
}
.geosuggest__input {
  width: 100%;
  outline: 0;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  height: 2.5rem;
  border-radius: 0.375rem; /* borderRadius md */
  border: 0.5px solid;
  border-color: inherit;
  background: transparent;
  color: #1a202c;
  transition: border 0.2s, box-shadow 0.2s;
}
.geosuggest__input:focus {
  border: 2.5px solid;
  border-color: #1a202c;
}
.geosuggest__input::placeholder {
  color: #a0aec0;
}
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
  transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest__item {
  font-size: 18px;
  font-size: 1rem;
  padding: 0.5em 0.65em;
  cursor: pointer;
}
.geosuggest__item:hover,
.geosuggest__item:focus {
  /* background: #f5f5f5; */
}
.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  /* background: #ccc; */
}
.geosuggest__item__matched-text {
  font-weight: bold;
}

/* Mobile queries */
@media only screen and (max-width: 62em) {
  .geosuggest__suggests {
    max-height: 9em;
  }
  .geosuggest__input {
    text-overflow: ellipsis;
  }
  .geosuggest__suggests--hidden {
    max-height: 0;
    overflow: hidden;
    border-width: 0;
  }
}
